* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "roboto", sans-seif;
  font-size: 62.5%;
  margin: 0;
  background: url("../images/fantasy-forest-bg.jpg");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  color: #222;
}

i {
  font-size: 350%;
  transition: color 1s;
  color: black;
}

i:hover {
  color: #007c4e;
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

p {
  font-size: 1.6em;
}

.game-view-port {
  margin: 2.5%;
  background-color: rgba(126, 126, 126, 0.466);
  height: 100%;
  border-radius: 10px;
  padding: 2.5%;
}

.levels{
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 500px;
  max-width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  background-color:white;
  background-color: rgba(46, 61, 73, 0.5);
  display: none;
}

#retry {
  display: none;
}

/*styling the modal win div*/
.modal {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 500px;
  max-width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  background-color:white;
  background-color: rgba(46, 61, 73, 0.5);
  display: none;
}
.modal-header .play-bTn {
  font-weight: bold;
  font-size: 1.25rem;
  color: orangered;
}
.modal-body p{
  color: whitesmoke;
}

.instruction-item:hover {
  cursor: pointer;
}

/*styling the instruction's pop up div*/
.manual {
  position: fixed;
  z-index: 40;
  left: 50%;
  top: 50%;
  width: 500px;
  max-width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  background-color:white;
  background-color: rgba(46, 61, 73, 0.5);
  display: none;
}

.manual-title {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.manual-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.manual-body{
  font-size: 0.8rem;
  font-weight: bold;
}

.manual-body i {
  font-weight: 100;
  font-size: 0.8rem;
}

/*styling the game section*/
.game{
  display: none;
}
.game_container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  height: 45em;
  margin-bottom: 6em;
  padding: 0.5em;
  width: 45em;
}

.fantasy-card {
  width: calc(24% - 10px);
  height: calc(28.333% - 10px);
  display: inline-block;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.fantasy-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.fantasy-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  padding: 5px;
  border-radius: 5%;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.button {
  background-color: coral;
  padding: 1em 2em;
  border: 0;
  margin-top: 5%;
  transition: background 1s;
}
.button:hover {
  background: #007c4e;
}
.mode {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.mode-content {
  background-color: #f4f4f4;
  margin: 20%;
  padding: 20px;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation: modeopen;
  animation: 2s;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@keyframes modeopen {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.submit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.sub-content {
  background-color: #f4f4f4;
  margin: 20%;
  padding: 20px;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation: modeopen;
  animation: 5s;
}
.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@keyframes modeopen {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 15%;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 30px;
  margin: auto;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 30px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container label {
  font-size: large;
}

.button-boxes {
  margin-top: 5%;
}
/*styling the socila links on the foot*/
.social-links li {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}

.social-links{
  text-align: center;
}

@media only screen and (max-width: 980px) /* For ipads/tablets: */ {
  footer {
    margin-top: 10%;
  }
  .menu {
      height: 100%;
      width: 100%;
  }
  .menu li {
      padding: 0;
  }

  .button {
      padding: 0.9em 0.9em;
      /* padding-top: 10%; */
      margin-top: 10%;
      border: 0;
  }

  .text {
      padding-top: 9em;
      padding-left: 30em;
  }

  .score-panel {
      font-size: 1.4em;
      padding: 1em 0 2em;
      padding-left: 24.5em;
  }

  .game_container {
      height: 38em;
      width: 100%;
      padding: 0;
  }
  .front-face,
  .back-face {
      width: 95px;
      height: 95px;
  }
}

@media only screen and (max-width: 768px) /* For mobile phones: */ {
  footer {
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .menu {
      height: 100%;
      width: 100%;
  }
  .menu li {
      padding: 0;
  }

  .button {
      padding: 0.9em 0.9em;
      margin-top: 10%;
      border: 0;
  }

  .text {
      padding-top: 9em;
      padding-left: 7em;
  }

  .score-panel {
      font-size: 1.4em;
      padding: 1em 0 2em;
      padding-left: 0px;
      padding-left: 9em;
  }

  .game_container {
      height: 36em;
      width: 100%;
      padding: 0;
      justify-content: safe;
  }
  .front-face,
  .back-face {
      width: 85px;
      height: 85px;
  }
}
    
@media only screen and (max-width: 400px) /* For mobile phones: */ {
  footer {
    margin-top: 25%;
    margin-bottom: 15%;
  }

  .menu {
      height: 100%;
      width: 100%;
  }
  .menu li {
      padding: 0;
  }

  .button {
      padding: 0.9em 0.9em;
      margin-top: 15%;
      border: 0;
  }

  .text {
      padding-top: 9em;
      padding-left: 7em;
  }

  .score-panel {
      font-size: 1.4em;
      padding: 1em 0 2em;
      padding-left: 0px;
      padding-left: 9em;
  }

  .game_container {
      height: 36em;
      width: 100%;
      padding: 0;
      justify-content: safe;
  }
  .front-face,
  .back-face {
      width: 85px;
      height: 85px;
  }
}
    